<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="healthapp.cse.osu.edu.healthapp" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LogActivity"
            android:label="@string/title_activity_log"
            android:parentActivityName=".MenuActivity">
        </activity>
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MedActivity"
            android:label="@string/title_activity_med"
            android:parentActivityName=".MenuActivity">
        </activity>
    </application>

</manifest>
